.selectContainer {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    justify-content: center;
}

.moveselect {
    border: 5px solid black;
    background-color: blue;
    height: 400px;
    width: 400px;
}

img {
    object-fit: cover;
    width:100%;
    height: 400px;
}

.outputContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: aquamarine;
    text-align: center;
}
